@use './general/variables' as head;


  /* Navbar */

  .navbar{
    background-color: head.$color-background-navbar;
    .container-fluid{
    .navbar-brand{
      color: #fff;
    }
      .nav-item{
        color: white;
        .nav-link{
          color: white;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 4px;
            background-color: #FFC300;
            bottom: 0;
            left: 0;
            visibility: hidden;
		        transform: scaleX(0);
		        transition: all 0.4s ease-in-out 0s;
          }
          &:hover {
            &::before {
              visibility: visible;
              transform: scaleX(1);
            }
          }
          &:hover{
            color:white;
          }
         
        }
      }
      .navbar-collapse{
        flex-grow: 0;
        .dropdown-menu{
          background-color: head.$color-background-navbar;
          li{
            .dropdown-item{
             &:hover{
                background-color: head.$color-background-navbar;
              }
            } 
            a{
              color: #fff;
             }
          }
        }
      }
    }
  }

  