* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
    
  }

  /* Body */

body {
  background: #c94b4b; 
  background: -webkit-linear-gradient(
    to left,
    #4b134f,
    #c94b4b
  ); 
  background: linear-gradient(
    to left,
    #4b134f,
    #c94b4b
  
  ); 
  
}